<script setup lang="ts">
const socialList: string[] = ["twitter", "facebook", "vk"];
</script>
<template>
  <div class="wrapper">
    <div class="info-container">
      <div class="top">
        <div class="title">Добре серце</div>
        <div class="link-to">
          детальніше про проект
          <div class="btn arrow"></div>
        </div>
        <div class="divider"></div>
      </div>
      <div class="mid">
        <div class="description">
          Вже зараз Ви можете допомогти тим, хто дійсно потребує допомоги
        </div>
        <div class="description-info">
          <div class="link-to">
            Як Ви можете допомогти?
            <div class="btn arrow"></div>
          </div>
          <div class="help-btn">Допомогти вже зараз</div>
        </div>
        <div class="divider"></div>
      </div>
      <div class="bott">
        <div class="description">Якщо Вам необхідна допомога</div>
        <div class="link-to">
          додайте проект
          <div class="btn plus"></div>
        </div>
      </div>
    </div>
    <footer>
      Розповісти всім:
      <div class="social-list">
        <img
          v-for="img in socialList"
          :src="'src/assets/icons/social-icons/' + img + '.svg'"
          alt="img"
        />
      </div>
      <div class="chat-btn"></div>
      <div class="heart-container">
        <img src="src/assets/icons/heart-icon.svg" alt="" />
      </div>
    </footer>
  </div>
</template>
<style lang="scss">
.wrapper {
  color: #d8d8d8;
  height: 93.2vh;
  overflow: hidden;
  div {
    position: relative;
  }
  .divider {
    width: 50px;
    height: 2px;
    background-color: #d8d8d8;
    position: absolute;
    bottom: 0;
  }
  .help-btn {
    background-blend-mode: normal;
    box-shadow: 0px 0px 15px 3px #e53656, 0px 0px 7px 2px #9d5e9a;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.0705882353);
    padding: 0.4vw 1vw;
    margin-left: 15px;
    cursor: pointer;
  }
  .link-to {
    display: flex;
    align-items: center;
    color: #d8d8d8b0;
    .btn {
      width: 18px;
      height: 18px;
      margin-left: 10px;
      cursor: pointer;
      &.arrow {
        background: url(src/assets/icons/link-to-arrow-icon.svg) center center
          no-repeat;
        background-size: contain;
      }
      &.plus {
        background: url(src/assets/icons/link-to-plus-icon.svg) center center
          no-repeat;
        background-size: contain;
      }
    }
  }

  .info-container {
    margin-left: 6vw;
    padding-top: 2vw;
    .top {
      padding-bottom: 3vw;
      display: flex;
      gap: 4vw;
      .title {
        font-size: 64px;
      }
    }
    .mid {
      .description,
      .description-info {
        padding: 15px 0;
        display: flex;
        gap: 5vw;
      }
      padding-bottom: 3vw;
    }
    .bott {
      div {
        padding: 15px 0;
      }
    }
  }
  footer {
    padding: 0.9vw 0;
    padding-left: 6vw;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 24px;
    width: 100%;
    .social-list {
      height: 15.62px;
      display: flex;
      gap: 15px;
    }
    .chat-btn {
      position: absolute;
      background: url(src/assets/icons/chat.svg) center center no-repeat;
      background-size: contain;
      width: 60px;
      height: 60px;
      right: 0;
      bottom: 0;
      padding: 60px;
      margin: 30px;
      cursor: pointer;
    }
    .heart-container {
      position: absolute;
      transform: rotate(-29deg);
      background: #fff;
      width: 107.1vw;
      height: 59.6vw;
      left: 28vw;
      top: -43vh;
      z-index: -1;
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(28deg);
        top: -186px;
      }
    }
  }
}
</style>
