<script setup lang="ts">
import router from "@/router";
import { type Ref, ref, watch } from "vue";
import Search from "./Search.vue";
interface ISelectedPage {
  page: string;
  name: string;
}
const langList: string[] = ["УКР", "РУС", "EN"];
const pagesList: ISelectedPage[] = [
  { page: "projects", name: "Проекти" },
  { page: "archive", name: "Архів" },
  { page: "contacts", name: "Контакти" },
  { page: "help", name: "Термінова допомога" },
];
let selectedLang: Ref<string> = ref(langList[0]);
let selectedPage: Ref<string> = ref(pagesList[0].page);
let showSearchBar: Ref<boolean> = ref(false);

watch(selectedPage, (newPage) => {
  router.replace(newPage);
});
</script>

<template>
  <nav>
    <Search v-if="showSearchBar" @close="showSearchBar = false"></Search>
    <div class="left">
      <img src="../assets/icons/serce-small.svg" alt="Serce" />
      <div class="lang-selector">
        <span
          v-for="lang in langList"
          class="lang"
          :key="lang"
          :class="{ selected: lang === selectedLang }"
          @click="selectedLang = lang"
          >{{ lang }}</span
        >
      </div>
    </div>
    <div class="center">
      <div
        class="btn-page"
        v-for="page in pagesList"
        :key="page.page"
        :class="{ selected: page.page === selectedPage }"
        @click="selectedPage = page.page"
      >
        {{ page.name }}
      </div>
    </div>
    <div class="right">
      <img
        src="../assets/icons/search.svg"
        alt="Search"
        class="search"
        @click="showSearchBar = true"
      />
      <div class="auth">Вхід/Зареєструватись</div>
    </div>
  </nav>
</template>

<style lang="scss" scoped>
nav {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  div {
    display: flex;
    align-items: center;
  }
  .lang,
  .btn-page {
    cursor: pointer;
    &.selected {
      color: #fff !important;
    }
  }
  .btn-page:hover {
    color: #a35c97;
  }
  .left {
    margin-left: 2vw;
    .lang-selector {
      margin-left: 2vw;
      width: 10vw;
      justify-content: space-around;
    }
  }
  .center {
    gap: 0.7vw;
    justify-content: space-between;

    .btn-page {
      padding: 0.5vw 2vw;
      &.selected {
        background: linear-gradient(45deg, #e53654, #a35c97);
        box-shadow: 0px 0px 20px 5px rgb(192 161 51 / 19%);
        border-radius: 5px;
      }
    }
  }
  .right {
    margin-right: 2vw;
    .search,
    .auth {
      cursor: pointer;
    }
    .search {
      margin-right: 6vw;
    }
  }
}
</style>
