<template>
  <div class="search-container">
    <div class="btn-close-search" @click="$emit('close')"></div>
    <input type="text" placeholder="Пошук" />
  </div>
  <div class="search-result">
    <div></div>
  </div>
</template>
<style lang="scss">
input,
.search-result {
  background: rgba(197, 213, 230, 0.7411764706);
  border-radius: 15px;
  backdrop-filter: blur(4px);
}
.search-container,
.search-result {
  width: 97%;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
}
.search-container {
  input {
    outline: none;
    width: 100%;
    height: 64px;
    border: none;
    text-align: center;
    font-size: xx-large;
    color: #d8d8d8;
    padding: 0 40px;
  }
  input::placeholder {
    font-size: large;
    text-align: left;
    color: #d8d8d8;
  }
  .btn-close-search {
    position: absolute;
    background: url(src/assets/icons/close.svg) center center no-repeat;
    background-size: cover;
    width: 44px;
    height: 44px;
    z-index: 2;
    right: 0;
    margin: 10px;
    cursor: pointer;
  }
}
.search-result {
  top: 0;
  margin-top: 100px;
}
</style>
